.bikeGradient{
    min-width: 300px;
    width: 22vw;
    /* background-image: linear-gradient(#fff 25%,rgba(0, 126, 213, 0.8) 50%); */
    border-radius: 10px;
    position: relative;
    margin: 1vw;
    transition: scale 300ms ease-in-out;
    

    padding: clamp(10px,1vw,20px);
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bikeGradient:hover .bikeImage{
    scale: 1.1;
}

.bikeImage{
    width: 100%;
    transition: scale 300ms ease-in-out;
}

.MuiSvgIcon-root{
}

.MuiRating-iconEmpty .MuiSvgIcon-root{

}

.bikeDetails{
    padding: 1vw;
    padding-bottom: 0;
    bottom: 0vw;
    width: calc(100%);
    display: flex;
    flex-direction: column;
}

.flex-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding-top: 10px;
    
}

.bikeLocation{
    padding: 10px;
    border-radius: 5px;
    margin-top: 12px;
    font-size: 16px;
    cursor: pointer;
}


.bikeCompany{
    font-size: 14px;   
}
.bikeModel{
    font-size: 18px;
    font-weight: bold;
}

.bikeRating{
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.bikeDelivery img{
    padding-right: 10px;
}

.bikeDelivery{
    position: absolute;
    font-size: 12px;
    background-color: aquamarine;
    width: 50%;
    right: 0;
    padding: 0.2vw 1vw;
    display: flex;
    align-items: center;
    justify-content: Center;
    /* Creates ribbon cut at the left side of the div */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 10px 50%); 
    

}

.bikeCost{
    font-size: 18px;
}

.bikeRentButton{
    background-color: black;
    color: white;
    right: 0;
    padding: clamp(15px,1vw, 30px);
    padding-right: 15%;
    padding-left: 15%;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
option{
    cursor: pointer;
}