.card{
    width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: clamp(20px,2vw,30px);
    margin: clamp(10px,1vw,30px) 1vw;
    max-height: 35  0px;
    
}

.cardMain{
    display: flex;
    width: 100%;
    vertical-align: center;
    align-items: center;
    justify-content: center;

    padding-bottom: 1vw;
}
.cardMain img{
    width: clamp(44px,4vw, 64px);
}

.reviewStars{
    padding-left: 1vw;
}

.reviewStars img{
    width: 8vw;
}

.reviewName{
    font-size: 16px;
    font-weight: bold;
}

.reviewCity{
    font-size: 14px;
}

.cardText{
    padding-top: 1vw;
    text-align: center;
    font-size: 14px;
}