.bikeDisplay{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.reviewContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(128, 178, 249, 0.253);
}

@media (prefers-reduced-motion: no-preference) {

}

