.bikeDisplay{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.reviewContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {

}

